.rs .resetpassword-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs .resetpassword-screen__form {
    width: 380px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #272727;
}

.rs .resetpassword-screen__title {
    text-align: center;
    margin-bottom: 1rem;
}

.rs .btn {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.rs .btn:hover {
    opacity: 0.8;
}

.rs .btn-primary {
    background-color: coral;
    color: #fff;
}

.rs .error-message {
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: red;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
}

.rs .success-message {
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: green;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
}